/*#particles-js{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*background-color: #b61924;*!*/
    /*!*background-image: url('');*!*/
    /*!*background-size: cover;*!*/
    /*!*background-position: 50% 50%;*!*/
    /*!*background-repeat: no-repeat;*!*/
/*}*/



.heading-canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: auto;
}

.clickThrough {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.img-responsive{
    z-index: 40000 !important;
}

.img-background{
    z-index: -2 !important;
}

html, body {
    overflow-x:hidden
}

.landing-title{
    font-weight: 900 !important;
    margin-top: 120px !important;
}